* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  background-color: antiquewhite;
}

.container {
  margin-inline: auto;
  max-width: 37.5rem;
  min-height: max(100dvh, 37.5rem);
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section:nth-child(even) {
  background-color: rgb(230, 234, 250);
}

.lottie {
  background-color: azure;
  min-width: 100%;
}

#lottie1 {
  width: 300px;
}
