*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

.wrapper {
  $padding-inline: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(80ch + 2 * $padding-inline);
  min-height: max(50dvh, 25rem);
  margin-inline: auto;
  padding-inline: $padding-inline;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

//nth-child 도 있으니 온라인 검색해서 그 차이 알아보기
section:nth-of-type(odd) {
  background-color: cadetblue;
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
}

aside {
  position: sticky;
  z-index: 3;
  top: 0;
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  height: max(100dvh, 25rem);
  padding-inline: 16px 24px;
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(0 0 0 / 50%);
  font-size: 0.875rem;
  backdrop-filter: blur(0.25rem);

  ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: 600;
      text-transform: capitalize;
      gap: 0.75rem;

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        margin-top: 0.125rem;
        border: 0.125rem solid white;
        border-radius: 999999999px;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.progressBar {
  position: sticky;
  z-index: 2;
  top: 0;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: 1rem;
  background-color: rgba(64 64 64);

  .indicator {
    position: absolute;

    transform-origin: left;
    background-color: white;
    inset: 0;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, 50rem);
  }
}
