* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
}

.section {
  /* background-color: red; */
}

.container {
  /* background-color: green; */
  $padding-inline-value: 64px;
  max-width: 1200px + 2 * $padding-inline-value;
  margin-inline: auto;
  padding-inline: $padding-inline-value;
}

.wrapper {
  padding-block: 64px;
  /* background-color: blue; */
}

.nav {
  color: white;
  font-weight: 700;
  container-type: inline-size;
  container-name: nav;
  .container {
    background-color: black;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 12px;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
  .lt680px {
    display: none;
  }
  @container nav (width < 42.5rem) {
    &__menuWrapper {
      display: none;
    }
    .lt680px {
      display: unset;
    }
  }
}

.button {
  width: fit-content;
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;
  &--type-text {
    background-color: unset;
    color: slateblue;
    padding-inline: 0;
  }
}

#hero1 {
  text-align: center;
  .button {
    margin-inline: auto;
  }
  .main {
    &__text {
      margin-bottom: 24px;
      max-width: 600px;
      margin-inline: auto;
    }
    &__media {
      aspect-ratio: 16 / 9;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  h2 {
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 24px;
  }
}

.main {
  &__media {
    background-color: rgb(230, 233, 254);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#hero2 {
  background-color: rgb(247, 247, 255);
  .wrapper {
    display: flex;
    align-items: center;
    $gap-val: 24px;
    gap: $gap-val;
    & > * {
      flex: 1;
    }
  }
  .main {
    &__text {
      &__buttonWrapper {
        display: flex;
        gap: 16px;
      }
    }
    &__media {
      aspect-ratio: 4 / 3;
    }
  }
  h2 {
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 24px;
    max-width: 40ch;
  }
  @media (width < 53.125rem) {
    .wrapper {
      display: block;
      text-align: center;
      p {
        margin-inline: auto;
      }
    }
    .main {
      &__text {
        margin-bottom: 2.25rem;
        &__buttonWrapper {
          margin-inline: auto;
          flex-direction: column;
          align-items: center;
          gap: 0;
        }
      }
    }
  }
}

.footer {
  font-size: 0.875rem;
  background-color: grey;
  color: white;
  container-type: inline-size;
  container-name: footer;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    list-style: none;
  }
  svg {
    fill: white;
  }
  .wrapper {
    // display: flex;
    // justify-content: space-between;
    // gap: 24px;
    // > * {
    //   flex: 1;
    // }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  h2 {
    font-size: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  &__logo {
    margin-bottom: 0.75rem;
  }
  &__extLinkWrap {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  @container footer (width<44.375rem) {
    .column:first-of-type {
      grid-row: 1 / span 2;
    }
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
