*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  background: url(../img/lightening3.jpg)
    no-repeat center center;
  background-size: cover;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Hahmlet", serif;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.6;
  color: white;
  overflow: hidden;
}

.container {
  .header {
    display: flex;
    text-align: center;
    text-wrap: balance;
    word-break: keep-all;
    position: relative;
    width: 100%;
    // position: absolute;
    isolation: isolate;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 80px;
    margin-top: 64px;
    .animTarget {
      animation: fadeIn 5s ease;
    }

    &:hover {
      color: rgb(91, 210, 170);

      transform: skew(-15deg, 0);
      transition: transform 500ms ease-out;
    }
  }
  .button {
    display: flex;
    position: absolute;
    isolation: isolate;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 100px;
    position: relative;
    justify-content: center;
    a {
      text-decoration: unset;
      color: white;
    }

    border: solid white;
    width: fit-content;
    text-align: center;
    border-radius: 0.75rem;
    border-width: 2px;
    padding: 0.5rem 1rem;

    animation: fadeIn2 3s linear;

    &:hover {
      color: rgb(33, 82, 70);
      background-color: rgba(74, 214, 191, 0.781);
      transition: 500ms smooth;
    }
  }
  .main__text {
    font-weight: 300;
    display: flex;
    text-align: center;
    text-wrap: balance;
    word-break: keep-all;
    position: relative;
    width: 100%;
    isolation: isolate;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    margin-top: 48px;
    max-width: 80ch;

    p {
      animation: slidein 2s linear,
        fadeIn2 2s linear;
    }

    @keyframes slidein {
      0% {
        margin-right: 150%;
        width: 300%;
      }

      90% {
        margin-right: 15%;
        width: 120%;
      }

      100% {
        margin-right: 0%;
        width: 100%;
      }
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  margin-inline: auto;
}
