* {
  box-sizing: border-box;
}

.box {
  aspect-ratio: 1/1;
  width: 12.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  margin-bottom: 1rem;
  transition: background-color 250ms ease-in-out;
}

.box.boxSelected {
  background-color: coral;
}

.box:hover {
  background-color: cornflowerblue;
}