:root {
  --bg: #fffbff;
  --bgVariant: #e3f0ed;
  --txt: #1b1b1f;
  --surface-transparent: rgba(216, 230, 227, 0.6);
  --surface: #e0e0e0;
  --onSurface: #1b1b1f;
  --accent: #43a89e;
  --bgCha: #ebeaea;
  --bgCard: #435e5a;
  --txtTitle: #37756f;
  --txtCard: rgb(255, 255, 255);
}
