@import "theme.dark.css"
  (prefers-color-scheme: dark);
@import "theme.light.css"
  (prefers-color-scheme: light);

$wrapper-padding-inline: 2rem;
// $wrapper-padding-block: 128px;
$min-height: 28rem;
$progressBar-height: 0.5rem;
$bg: var(--bg);
$bgVariant: var(--bgVariant);
$txt: var(--txt);
$surface-transparent: var(--surface-transparent);
$surface: var(--surface);
$onSurface: var(--onSurface);
$accent: var(--accent);
$bgCha: var(--bgCha);
$bgCard: var(--bgCard);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
}

body {
  // overflow-y: hidden;
  // width: 100vw;
  // height: 100dvh;
  margin: 0;
  font-family: system-ui;
  font-size: 1.0625rem;
  line-height: 1.6;
  background: $bg;
  color: $txt;
  &::after {
    content: "";
    height: 1px;
    width: 100%;

    position: fixed;
    bottom: 200px;
  }
}

main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  &::-webkit-scrollbar {
    display: none;
  }
}

.animTrigger {
  position: relative;
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: fuchsia;
    position: absolute;
    top: 25%;
  }
}

section {
  scroll-snap-align: center;
  overflow: hidden;
}

.wrapper {
  margin-top: 4rem;
  margin-bottom: 10rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: calc(
    63ch + 2 * $wrapper-padding-inline
  );
  min-height: max(800px, 100dvh);
  padding-inline: $wrapper-padding-inline;
  //   padding-block: $wrapper-padding-block;
}

.content {
  border: 1px solid red;
  //   block-size: 31.25rem;
}

header {
  text-align: center;
  text-wrap: balance;
  word-break: keep-all;
}

.wrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(
    63ch + 2 * $wrapper-padding-inline
  );
  background-color: $bgCha;
  margin: auto;
}

#character__title {
  padding-block: 6rem 1rem;
  h1.animTarget {
    transform: translateY(-100vh);
    transition: color 500ms ease-out,
      transform 500ms ease-out;
  }
  &.triggered {
    h1.animTarget {
      transform: translateY(0);
    }
  }
}

#character {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $bgCha;
  padding-block: 2rem 3rem;
  row-gap: 3rem;
  margin-inline: auto;
  margin-top: 0;
}

.card {
  cursor: pointer;
  max-width: 16.875rem;
  margin-inline: auto;
  border-radius: 0.5rem;
  background-color: $bgCard;
  overflow: hidden;
  transition: all 500ms ease;
  &:hover {
    transform: translateY(-0.125rem) scale(1.01);
    box-shadow: 0 0.5rem 0.75rem 0.375rem
      rgba(0, 0, 0, 0.3);
    .card__img {
      filter: grayscale(0);
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 500ms ease;
  }
  &__text {
    padding: 1rem;
    h3 {
      font-size: 1.25rem;
      line-height: 1.6rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    p {
      $lineHeightVal: 1.5rem;
      $clampLine: 4;
      line-height: $lineHeightVal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-line-clamp: $clampLine;
      -webkit-line-clamp: $clampLine;
      max-height: $clampLine * $lineHeightVal;
    }
  }
}

section:nth-of-type(even) {
  background-color: $bgVariant;
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

.paragraph {
  padding-block: 4rem;
}

.content__img {
  padding-block: 2rem;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

#section1 {
  p.animTarget {
    transform: translateY(300vh);
    transition: transform 500ms ease-in-out;
  }
  .content__img.animTarget {
    transform: scale(0);
    transition: transform 300ms ease-out;
  }
  h2.animTarget {
    transform: translateX(-100vw);
    transition: transform 300ms ease-out;
  }
  &.triggered {
    p.animTarget {
      transform: translateY(0);
    }
    .content__img.animTarget {
      transform: scale(1);
    }
    h2.animTarget {
      transform: translateX(0);
    }
  }
}

#section2 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section3 {
  .content {
    p.animTarget {
      transform: translateX(100vw);
      transition: transform 500ms ease-out;
    }
    h2.animTarget {
      transform: translateX(100vw);
      transition: transform 300ms ease-out;
    }
    &.triggered {
      p.animTarget {
        transform: translateX(0);
      }
      h2.animTarget {
        transform: translateX(0);
      }
    }
  }
}

#section4 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section5 {
  .content.animTarget {
    transition: background-color 500ms ease-out,
      border 500ms ease-out;
  }
  h2.animTarget {
    transform: translateX(-100vw);
    transition: transform 500ms ease-out;
  }
  p.animTarget {
    transform: translateX(100vw);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .content.animTarget {
      background-color: cornflowerblue;
      border: 0px solid transparent;
    }
    h2.animTarget {
      transform: translateX(0);
    }
    p.animTarget {
      transform: translateX(0);
    }
  }
}

#section6 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section7 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section8 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section9 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section10 {
  lottie-player {
    padding-left: 30px;
  }
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section11 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

#section12 {
  .animTarget {
    transform: scale(0);
    transition: transform 500ms ease-out;
  }
  &.triggered {
    .animTarget {
      transform: scale(1);
    }
  }
}

aside {
  position: sticky;
  z-index: 3;
  top: 0;
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  height: max(100dvh, $min-height);
  padding-inline: 1rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: $surface-transparent;
  font-size: 0.875rem;
  backdrop-filter: blur(0.25rem);

  ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: start;
      justify-content: start;
      color: $onSurface;
      font-weight: 600;
      text-transform: capitalize;
      gap: 0.75rem;
      transition: color 150ms ease-out;

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        margin-top: 0.125rem;
        border: 0.125rem solid $onSurface;
        border-radius: 999999999px;
        transition: border-color 150ms ease-out,
          background-color 150ms ease-out;
      }
      &:hover {
        color: $accent;

        &::before {
          border-color: $accent;
        }
      }
      &.pressed {
        color: $accent;

        &::before {
          border-color: $accent;
          background-color: $accent;
        }
      }
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.progressBar {
  position: sticky;
  z-index: 2;
  top: 0;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: $progressBar-height;
  background-color: $surface;

  .indicator {
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    background-color: $accent;
    inset: 0;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

@media (width < 67.5rem) {
  #character {
    grid-template-columns: 1fr;
  }

  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }

  aside {
    top: $progressBar-height;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: fit-content;
    padding-block: 1rem;
    padding-inline: unset;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    border-radius: 0 0 1rem 1rem;

    ol {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 3rem;

      a:first-of-type li {
        margin-left: $wrapper-padding-inline;
      }

      a:last-of-type li {
        margin-right: $wrapper-padding-inline;
      }
    }
  }

  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (width < 59.1875rem) {
  #character {
    grid-template-columns: 1fr;
  }
  aside {
    ol {
      justify-content: flex-start;
    }
  }
}
