:root {
  --bg: #1b1b1f;
  --bgVariant: #2a3231;
  --txt: #e4e1e6;
  --surface-transparent: rgba(65, 65, 65, 0.5);
  --surface: #131316;
  --onSurface: #c8c5ca;
  --accent: #a3ffe6;
  --bgCha: #514f54;
  --bgCard: #7cbbab;
  --txtTitle: #69e0c1;
  --txtCard: rgb(32, 45, 43);
}
