:root {
  --bg: #1b1b1f;
  --bgVariant: #2a3231;
  --txt: #e4e1e6;
  --surface-transparent: rgba(65, 65, 65, 0.5);
  --surface: #131316;
  --onSurface: #c8c5ca;
  --accent: #bbfff4;
  --bgCha: #514f54;
  --bgCard: #617b7b;
}
